.example-spacer {
    flex: 1 1 auto;
  }
  .icon_spacer{
      margin: 1%;
  }

  .spacer{
    margin-left: 3%;
}
  #sect1 {  
    height: 100%;
    color: #fff;
    background-image: url("../../assets/images/196826.jpg");  
    background-size: cover !important;  
    background-repeat: no-repeat;
    width: 100%;
}
.login-wrapper {
    height: 90%;
}
