.example-spacer {
    flex: 1 1 auto;
  }
  .icon_spacer{
      margin: 1%;
  }

  #sect1 {  
    height: 120%;
    color: #fff;
    background-image: url("../assets/images/1968265.jpg");  
    background-size: cover !important;  
    // background-repeat: no-repeat;
    width: 100%;
}