
.spacer{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 1%;
}
.spacer1{
display: flex;
flex-wrap: wrap;
justify-content: end;
margin: 1%;
}
th{
    background-color: rgb(242, 242, 173);
}
.btnsize{
    width: 130px;
}