
.spacer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
    }
    .spacer1{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin: 3%;
    }
    th{
        background-color: rgb(242, 242, 173);
    }
    .btnsize{
        width: 50%;
    }
      .example-full-width {
        width: 100%;
      }
      .example-card {
        width: 140px;
        height: 40px;
        border-radius: 8px;
        margin: 1%;
      }
      .example-card:hover {
        box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
        transform: translate3d(0,0,0);
        transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    }
    .example-ripple-container {
      cursor: pointer;
      text-align: justify;
      background-color: antiquewhite;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
    
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: transparent;
    }



    // table,td{
    //   border: 1px solid black;
    // }
    // @media print {
    //   #after{
    //     margin-top: 120%;
    //   }
    // }
